<div class="grid-container">
  <h3>
    <a
      color="accent"
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Port Map</a
    >
    > {{ name || 'N/D' }}
  </h3>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="details">
      <h1 class="mat-h1">{{ name || 'No Data' }}</h1>
      <a
        mat-button
        color="accent"
        target="_blank"
        [href]="'http://' + website"
        [disabled]="!website"
      >
        <mat-icon>language</mat-icon>
        {{ website || 'N/D' }}
      </a>
      <p><span class="label">Type:</span> {{ type || 'N/D' }}</p>
      <p><span class="label">City:</span> {{ city || 'N/D' }}</p>
      <p><span class="label">Latitude:</span> {{ lat || 'N/D' }}</p>
      <p><span class="label">Longitude:</span> {{ lon || 'N/D' }}</p>
    </div>
    <div class="map">
      <div class="portmap--rot mat-elevation-z2" #mapRef></div>
    </div>
  </div>
</div>
