:host {
  padding: 16px;
  display: block;
  position: relative;
}
.grid-container {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: left;
  padding: 8px 16px;
  margin: 8px 0;
}
h3 {
  text-align: left;
  padding-left: 16px;
}
a {
  margin-right: auto;
}
.container {
  display: flex;
  .details {
    flex: 0.33;
    display: flex;
    flex-direction: column;
    & > {
      margin-right: auto;
    }
    p {
      text-align: left;
      padding: 0 16px;
      span.label {
        color: #555;
      }
    }
  }
  .map {
    flex: 0.66;
    display: block;
    position: relative;
    .mat-card {
      display: flex;
    }
    .portmap--rot {
      width: 66%;
      height: 300px;
      top: 32px;
      z-index: 1;
    }
  }
}
