:host {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.nav {
  margin-bottom: 1em;
  a {
    margin: 0 10px;
  }
}

.active-link {
  color: #2c3e50;
  font-weight: bold;
  text-decoration: underline;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  overflow-x: hidden;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-drawer-content {
  height: 100vh;
}
