/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
  z-index: -999;
}
