<mat-list>
  <mat-list-item *ngFor="let layer of layers">
    <mat-slide-toggle
      (change)="onChange.emit(layer.type)"
      [checked]="layer.active"
      ><mat-icon matListIcon>{{ layer.material_icon }}</mat-icon
      >{{ layer.name }}</mat-slide-toggle
    >
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-nav-list class="ports-list">
  <mat-list-item *ngFor="let port of ports" (click)="onClick.emit(port.id)">
    <mat-icon matListIcon>{{ getIconByType(port.type) }}</mat-icon>
    <p>{{ port.name }}</p>
    <a
      *ngIf="selected(port.id) && !hasId()"
      class="detail-icon"
      [routerLink]="port.id"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      ><mat-icon>description</mat-icon></a
    >
    <a
      *ngIf="selected(port.id) && hasId()"
      class="home-icon"
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      ><mat-icon>map</mat-icon></a
    >
  </mat-list-item>
</mat-nav-list>
