<mat-list>
  <mat-list-item *ngFor="let layer of layers">
    <mat-slide-toggle
      (change)="onChange.emit(layer.type)"
      [checked]="layer.active"
      >{{ layer.name }}</mat-slide-toggle
    >
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-nav-list>
  <mat-list-item *ngFor="let port of ports" (click)="onClick.emit(port.id)">
    {{ port.name }}
    <div *ngIf="port.id === selectedPort?.id">
      <a
        [routerLink]="port.id"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Details</a
      >
    </div>
  </mat-list-item>
</mat-nav-list>
